@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700;800;900&display=swap");
@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #021b1a;
}

body {
  color: white;
  font-family: "Cinzel", serif;
}